<h1> Index </h1>
<<<<<<< HEAD
<% @pigeons.each do |pigeon| %>
<h1><%= pigeon.name %></h1>

<p> Breed : <%= pigeon.breed %></p>
<p> Speed : <%= pigeon.km_per_hour %></p>
<p> Price : <%= pigeon.price_per_hour %></p>
<% end %>
=======

 <% @pigeons.each do |pigeon| %>
    <%= pigeon.name %>
 <% end %>
>>>>>>> be5c36624f2030ad71d9ed487e329f5f47806a16
