<div class="container">

  <h1><%= @pigeon.name %></h1>

  <div class="row">
    <div class="col-sm-12 col-md-6">
      <h3>Characteristics</h3>
      <table class="table table-bordered">
        <tbody>
          <thead>
            <th><%= @pigeon.breed %></th>
            <th>In <%= @pigeon.address %> </th>
            <th><%= @pigeon.km_per_hour%> km/h </th>
            <th><%= @pigeon.price_per_km %> ct/km</th>
            <%= cl_image_tag @pigeon.photo.key, height: 300, width: 400, crop: :fill %>
            <%= link_to pigeon_path(@pigeon), method: :delete, data: { confirm: "Are you sure?" } do %>
<i class="fa fa-trash destroy_pigeon"></i>
<% end %>
          </thead>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="container">
<%= simple_form_for [@pigeon, @journey] do |j| %>
        <%= j.input  :arrival_address, input_html: {id: "address"} %>
        <%= j.input :message%>
        <%= j.button :submit, class: 'btn btn-primary' %>
        <!-- dois afficher le total_price -->
      <% end %>
</div>

<%= link_to "Back", pigeons_path, class: "btn btn-outline-dark mt-2" %>
